.calendar-table{
    padding:1em;
    width: 80%;
    margin: 0 10%;
}
.calendar-table a{
    text-decoration:underline;
}
.calendar-table TD, .calendar-table TH{
    padding:5px;
    text-align:center;
}
.calendar-table TH{
    border-top: 1px #333 solid;
}
.calendar-table caption{
    font-size:200%;
    text-transform:uppercase;
}
.linked_today{
    color:#000;
    cursor:pointer;
    background: #fff;
}
.linked_day{
    cursor: default;
}
.linked_today:hover{
    color:#000;
    background: #fff500;
}


/* List view CSS */
.newsCalendar_listHeader{
    font-size:1.5em;
    font-weight:bold;
    background-color:#C7D5FE;
    color:#333;
    border:1px solid #7e7e7e;
    padding:0.5em;
}
.newsCalendar_listBody{
    #padding:1em;
}
.newsCalendar_listItem{
    display: table;
    font-size:1em;
    padding-top:1em;
}

.newsCalendar_listItem a{
    -font-weight: bold;
}

.newsCalendar_listItem_image{
    display: table;
    float:left;
    padding: 3px;
    border: 1px solid #CCC;
    margin-top: 3px;
    margin-right: 3px;
}
.newsCalendar_listItem_subheader{
    display: table;
}
.newsCalendar_listItemHeader{
    font-weight:bold;
    padding-top:1em;
    font-size:1.25em;
}

/**
CANVAS
http://forge.typo3.org/issues/35236
*/
.newscalendar-canvas {
 left:0px;
}

